/* color */
$base-color: #ffffff  !default;
$white: #ffffff !default;
$black: #000000 !default;
$red: #F1244E !default;
$dark: #2F2F2F !default;
$yellow: #FFDC19 !default;
$grey: #EFEFEF !default;

/* font-family */
$noto: 'Noto Sans', sans-serif !default;
$inconsolata: 'Inconsolata', monospace !default;

/* mobile menu sittings */
$mob_menu_bg: $white;


/* humburger sittings */
$hamburger-inner-bg: $dark;
$humburger-hover: $dark;


	